<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap" rel="stylesheet">

    <title>Pizza Di Mario</title>
</head>

<body>
    <div class="index-navigation">
        <ul class="index-navbar">
            <li class="navbar-buttons"><a href="/">Home</a></li>
            <li class="navbar-buttons"><a href="/pizza/list">Menu</a></li>
            <li class="navbar-buttons"><a href="/myorder">My order</a></li>
        </ul>
    </div>
    <div class="index-textbox-container">
        <div class="index-textbox">
            <h1 class="index-textbox-header">Welcome to Pizza Di Mario</h1>
            <p class="index-textbox-paragraph">"Zio Lino di che sesso sono le tartarughe; lei è un cornuto lo sa ti spezzo i
                menischi. I ricchioni si dividono in due grandi categorie un caffè con utopia; come dicono i francesi a
                frappé! Disgrazieto maledetto; bistrò non significa bistrot francese ma due volte stronzo ti ho comprato
                ai primi di novembre."</p>
        </div>
    </div>
    <div class="index-bgrnd">
        <img id="index-bgrnd-img" src="/bgrnd_img.jpg">
    </div>
</body>

</html>