.element {
  all: revert;
}

body,
html {
  margin: 0px;
  height: 100%;
  position: relative;
}

.navigation {
  position: absolute;
  display: flex;
  width: 100%;
  background-color: crimson;
}

.navigation-menu{
  position: relative;
  display: flex;
  width: 100%;
  background-color: crimson;
  margin-bottom: 20px;
}

.navbar {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

.navbar-buttons {
  width: 100px;
  padding: 20px;
  list-style: none;
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: larger;
}

.navbar-buttons>a {
  text-decoration: none;
  color: antiquewhite;
}

.navbar-buttons:hover {
  color: white;
  background-color: tomato;
}

.bgrnd {
  height: 100%;
}

#bgrnd-img {
  display: block;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  object-fit: cover;
}

.index-text {
  color: crimson;
  position: absolute;
  text-align: center;
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: larger;
  top: 25%;
}

.welcome-text {
  width: 70%;
}

.welcome-head {
  font-size: 80px;
  text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5)
}

.welcome-para {
  padding-top: 5%;
  justify-content: center;
  text-align: justify;
  font-size: 30px;
  width: 70%;
  margin: auto;
  text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5)
}

#container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.pizza-card {
  display: inline-flex;
  padding-bottom: 20px;
  height: 300px;
}

.image-class {
  max-width: 400px;
  max-height: 400px;
  margin-right: 20px;
  object-fit: fill;
}

.menu-form {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: larger;
}