/* RESET DEFAULT CSS SETTINGS */

.element {
  all: revert;
}

/* GENERAL SETTINGS */

body,
html {
  margin: 0px;
  height: 100%;
  position: relative;
}

.navbar-buttons {
  width: 100px;
  padding: 20px;
  list-style: none;
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: larger;
}

.navbar-buttons>a {
  text-decoration: none;
  color: antiquewhite;
}

.navbar-buttons:hover {
  color: white;
  background-color: tomato;
}

.navbar-logo{
  align-self: center;
  max-height: 42px;
  padding-left: 8px;
}

h1, h4{
  font-size: 26px;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
}

h2, h3{
  font-size: 18px;
  font-weight: 400;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 8px 0px;
}



/* INDEX PAGE CSS */

.index-navigation {
  position: absolute;
  display: flex;
  width: 100%;
  background-color: crimson;
}

.index-navbar {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

.index-bgrnd {
  height: 100%;
}

#index-bgrnd-img {
  display: block;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  object-fit: cover;
}

.index-textbox-container {
  color: crimson;
  position: absolute;
  text-align: center;
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: larger;
  top: 25%;
}

.index-textbox {
  width: 70%;
}

.index-textbox-header {
  font-size: 80px;
  text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5)
}

.index-textbox-paragraph {
  padding-top: 5%;
  justify-content: center;
  text-align: justify;
  font-size: 30px;
  width: 70%;
  margin: auto;
  text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5)
}

/* MENU PAGE CSS */

.menu-navigation {
  position: relative;
  display: flex;
  width: 100%;
  background-color: crimson;
}

.menu-navbar {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

#menu-container {
  color: antiquewhite;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 20px;
}

.menu-item-container {
  display: inline-flex;
  padding-bottom: 30px;
  height: 220px;
}

.menu-item-img {
  max-width: 200px;
  max-height: 200px;
  margin-right: 20px;
  object-fit: fill;
}

.menu-item-form {
  width: 300px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.menu-bgrnd {
  height: 100%;
  top: 0px;
}

#menu-bgrnd-img {
  display: block;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  object-fit: cover;
}

/* ORDER PAGE */

.order-navigation {
  position: relative;
  display: flex;
  width: 100%;
  background-color: crimson;
}

.order-navbar {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}